__pycache__
*.so
*.pyc
zhaozhuo_prompt
*.egg-info
*.so
*.log
*.ipynb
llama_case_study
case_study
*.npy
*.pdf
tests
visualization
requirement.txt
evaluate_llama_for_mot.py
.huggingface_cache
.mypy_cache
.venv
.vscode
.DS_Store